.schedule-table {
    overflow-x: auto;
  }
  .schedule-table .ts-item {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .schedule-table.filtering .ts-item {
    opacity: 0;
  }
  .schedule-table.filtering .ts-item.show {
    opacity: 1;
  }
  .schedule-table table {
    width: 100%;
    text-align: center;
    border: 1px solid #e1e1e1;
  }
  .schedule-table table thead tr {
    background: #ffffff;
  }
  .schedule-table table thead tr th {
    color: #000000;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0;
  }
  .schedule-table table tbody {
    border-top: 1px solid #e5e5e5;
  }
  .schedule-table table tbody tr {
    border-bottom: 1px solid #e5e5e5;
    background: #F0F0F0;
  }
  .schedule-table table tbody tr:nth-child(even) {
    background: #ffffff;
  }
  .schedule-table table tbody tr td {
    border-right: 1px solid #e5e5e5;
    padding: 20px 10px 16px;
    /*width: 146px;*/
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }
  .schedule-table table tbody tr td.gym h6, .schedule-table table tbody tr td.crossfit h6, .schedule-table table tbody tr td.running h6 {
    color: #f34e3a;
  }
  .schedule-table table tbody tr td.yoga h6 {
    color: #247cc6;
  }
  .schedule-table table tbody tr td.body h6, .schedule-table table tbody tr td.box h6 {
    color: #6dcff6;
  }
  .schedule-table table tbody tr td.cardio h6 {
    color: #4cbcc3;
  }
  .schedule-table table tbody tr td.box.g h6 {
    color: #00a651;
  }
  .schedule-table table tbody tr td h6 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .schedule-table table tbody tr td.gym h4, .schedule-table table tbody tr td.crossfit h4, .schedule-table table tbody tr td.running h4 {
    color: #f34e3a;
  }
  .schedule-table table tbody tr td.yoga h4 {
    color: #247cc6;
  }
  .schedule-table table tbody tr td.body h4, .schedule-table table tbody tr td.box h4 {
    color: #6dcff6;
  }
  .schedule-table table tbody tr td.cardio h4 {
    color: #4cbcc3;
  }
  .schedule-table table tbody tr td.box.g h4 {
    color: #00a651;
  }
  .schedule-table table tbody tr td h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .schedule-table table tbody tr td span {
    font-size: 14px;
    display: block;
    color: #191919;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 26px;
  }
  .schedule-table table tbody tr td .trainer-name {
    font-size: 14px;
    color: #6e6e6e;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .schedule-table table tbody tr .workout-time {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
  }